/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header/logo Title */
.header {
    padding: 80px;
    text-align: center;
    background: #fffb21;
    color: black;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
    flex: 80%;
    overflow: hidden;
    background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.layout {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    background-color: #83c6e6;
    padding: 20px;
}

/* Change color on hover */
.side a:hover {
    background-color: #ffffff70;
    color: black;
}
/* Style the navigation bar links */
.side a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 0px;
    width: 335px;
    text-decoration: none;
}
.main-area {
    -ms-flex: 80%; /* IE10 */
    flex: 80%;
}
.main {
    background-color: white;
    padding: 40px;
    image-rendering: pixelated;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    .table-naviagtor {
        color: white;
    }
    .header {
        background-color: #232641;
        color: white;
    }
    body {
        background-color: #444;
    }
    .main {
        color: white;
        background-color: #444;
    }
    .side {
        background-color: #0f1c2e;
    }
    .side a { color: white;}
}