/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header/logo Title */
.header {
    padding: 80px;
    text-align: center;
    background: #fffb21;
    color: black;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    background-color: #83c6e6;
    padding: 20px;
}

/* Change color on hover */
.side a:hover {
    background-color: #ffffff70;
    color: black;
}
/* Style the navigation bar links */
.side a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 140px;
    text-decoration: none;
}
/* Main column */
.main {   
    -ms-flex: 80%; /* IE10 */
    flex: 80%;
    background-color: white;
    padding: 20px;
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: medium;
    min-width: 1000px;
    border-radius: 10px;
}
.table thead tr{
    background-color: #e4dda3;
    color: black;
    text-align: center;
}
.table th,
.table tbody tr {
    border: 1px solid #5e5e5e;
}
.table tbody tr:nth-of-type(even) {
    background-color: #e5e0ad
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

* {
    box-sizing: border-box;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}