.trading_table, td, th {
    border: 1px solid;
    padding: 10px;
}
.trading_table {
    border-radius: 25px;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: medium;
    min-width: 1000px;
    border-radius: 10px;
}
.trading_table th,
.trading_table tbody {
    border: 1px solid;
}
.trading_table tbody tr:nth-of-type(even) td {
    background-color: #e5e0ad80
}
.trading_table tbody tr:nth-of-type(2) {
    background-color: #e5e0ad
}

@media (prefers-color-scheme: dark) {
    .table-naviagtor {
        color: white;
    }
    .trading_table tbody {
        border: 1px solid white;
    }
    .trading_table tbody tr:nth-of-type(even) td {
        background-color: rgba(129, 98, 39, 0.5)
    }
    .trading_table tbody tr:nth-of-type(2) {
        background-color: rgb(129, 98, 39)
    }
}