.trading_table, td, th {
    border: 1px solid;
    padding: 10px;
}
.trading_table {
    border-radius: 25px;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: medium;
    min-width: 1000px;
    border-radius: 10px;
}
.trading_table th,
.trading_table tbody tr {
    border: 1px solid #5e5e5e;
}
.trading_table tbody tr:nth-of-type(even) {
    background-color: #e5e0ad
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    .trading_table tbody tr:nth-of-type(even) {
        background-color: rgb(129, 98, 39)
    }
}